html, body {
    overflow-x: hidden; /* Evita lo scroll indesiderato */
    background: black; /* Sfondo di base */
}

body {
    font-family: "Comfortaa", sans-serif;
    background: black;
    color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.stars {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0; /* Assicura che lo sfondo resti dietro */
}

.star {
    position: absolute;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 3s infinite alternate;
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    font-family: 'Comfortaa', sans-serif;
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid transparent; /* Bordo iniziale invisibile */
    padding: 5px; /* Distanza tra testo e bordo */
    border-radius: 5px; /* Rende gli angoli del bordo arrotondati */
    transition: all 0.3s ease; /* Animazione per il cambio del bordo */
}

a:hover {
    color: #11e21c; /* Colore del testo quando hover */
    border-color: #11e21c; /* Colore del bordo quando hover */
    text-shadow: 0 0 5px #11e21c, 0 0 10px #11e21c; /* Ombra del testo quando hover */
}

a:focus {
    outline: none; /* Rimuove l'effetto outline standard dei browser */
    border-color: #ff9900; /* Colore del bordo quando il link è selezionato (focus) */
}

a:active {
    color: #00ff00; /* Colore del testo quando il link è attivamente cliccato */
    border-color: #00ff00; /* Colore del bordo quando cliccato */
}



#Link-quiz {
    margin-top: 680px;
}

#autori {
    margin-top: 80px;
}

.fade-in {
    opacity: 0; /* Inizialmente invisibile */
    animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}