/* Centrare il testo */
body {
    font-family: "Comfortaa", sans-serif;
    background: black;
    color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: scale(1);
    transform-origin: top left;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden
}

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none
}

.star {
    position: absolute;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 3s infinite alternate;
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

/* Aggiungi altre se vuoi! */


/* Titolo principale */
#Titolo {
    font-size: 100px;
    font-weight: bold;
    margin-top: 100px; /* Abbassa il titolo */
    margin-bottom: 50px; /* Spazio sotto il titolo */
}

/* Stile del link */
#info-link {
    margin-top: 50px; /* Spazio sopra il link */
}

/* Stile per i link */
a {
    font-family: 'Comfortaa', sans-serif;
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid transparent; /* Bordo iniziale invisibile */
    padding: 5px; /* Distanza tra testo e bordo */
    border-radius: 5px; /* Rende gli angoli del bordo arrotondati */
    transition: all 0.3s ease; /* Animazione per il cambio del bordo */
}

a:hover {
    color: #11e21c; /* Colore del testo quando hover */
    border-color: #11e21c; /* Colore del bordo quando hover */
    text-shadow: 0 0 5px #11e21c, 0 0 10px #11e21c; /* Ombra del testo quando hover */
}

a:focus {
    outline: none; /* Rimuove l'effetto outline standard dei browser */
    border-color: #ff9900; /* Colore del bordo quando il link è selezionato (focus) */
}

a:active {
    color: #00ff00; /* Colore del testo quando il link è attivamente cliccato */
    border-color: #00ff00; /* Colore del bordo quando cliccato */
}


/* Pianeta Saturno */
.saturno {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5);
}

/* Anelli */
.anelli {
    width: 160px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(60deg);
    animation: gira 5s linear infinite;
}

/* Animazione di rotazione */
@keyframes gira {
    from {
        transform: translate(-50%, -50%) rotateX(60deg) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateX(60deg) rotate(360deg);
    }
}

.fade-in {
    opacity: 0; /* Inizialmente invisibile */
    animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}